<!doctype html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block content %}
    <title>{{ title }}</title>
    <!-- CSS, Keywords, Metadata goes here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Air Quality Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link" href="/refresh">Refresh Data</a>
            </div>
        </div>
    </nav>
    <div class="row" style='padding: 0% 5% 0% 5%;'>
            <h1 class="display-4" style='text-align: center; float:none; margin: 0 auto; padding-bottom:2%'>Air Quality Measurements in Los Angeles:</h1>
        <div class="col-sm-6">
            <table class="table table-striped table-hover" style='padding:1%'>
                    <thead>
                        <tr>
                            <th scope="col">Time (UTC)</th>
                            <th scope="col">Value (PM2 5 >= 10)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for value in pm_values %}
                                <tr>
                                    <td>{{ value.datetime }}</td>
                                    <td>{{ value.value }}</td>
                                </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
        <div class="col-sm-6">
                <table class="table table-striped table-hover" style='padding:1%'>
                        <thead>
                            <tr>
                                <th scope="col">Time (UTC)</th>
                                <th scope="col">Value (PM10 >= 100)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for value in pm_10_values %}
                                    <tr>
                                        <td>{{ value.datetime }}</td>
                                        <td>{{ value.value }}</td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
    </div>
    {% endblock %}
</body>
